html, body {
    font-family: "Roboto";
    background-color: aqua;
    padding: 0;
    margin: 0;
    cursor: default;
}

h1 {
    font-family: "Varela Round", sans-serif;
    font-size: 36pt;
}

#main-frame {
    display: grid;
    grid-template-columns: 2fr 5fr;
    height: 100vh;
}

#menu-panel {
    background-color: mediumaquamarine;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding: 0 1rem;
}

.menu-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.game-controls {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.control-item {
    font-family: "Varela Round", sans-serif;
    font-size: 14pt;
    text-align: center;
    border-radius: 15px;
    background-color: #821d30;
    color: #F5F5F5;
    padding: 24px 80px;
    border: solid 2px #fdb73e;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.players-section {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    gap: .5rem;
}

.players-section p {
    margin: 0;
    font-size: 16pt;
    /* padding: 0 1rem; */
}

.player {
    font-size: 30pt;
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
    margin-bottom: 1rem;
}

.player-name {
    font-family: "Slabo 27px", serif;
}

#player1 {
    color: #821d30;
}

#player2 {
    color: #41639b;
}

.player-score {
    text-align: right;
}

#footer {
    font-size: 10pt;
    text-align: center;
    color: #F5F5F5;
    padding: .25rem;
    margin-top: 13.333px;
}

#game-panel {
    background-color: #F5F5F5;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#game-board {
    display: grid;
    grid-template-columns: repeat(3, 180px);
    grid-template-rows: repeat(3, 180px);
    gap: 1rem;
    background-color: black;
    margin: 2rem;
    box-sizing: border-box;
}

.marker-space {
    background-color: #F5F5F5;
    font-family: "Varela Round", sans-serif;
    font-size: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.x-marker::after {
    content: "X";
}

.x-marker {
    color: #821d30;
}

.o-marker::after {
    content: "O";
}

.o-marker {
    color: #41639b;
}

#winner-announcement {
    display: none;
}

.btn-dwn {
    box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.5);
}