html, body {
    font-family: "Roboto";
    background-color: #F5F5F5;
    padding: 0;
    margin: 0;
    cursor: default;
    position: relative;
}

h1 {
    font-family: "Varela Round", sans-serif;
    font-size: 42pt;
    margin-bottom: 5px;
    color: #211d1e;
}

h2 {
    font-family: "Varela Round", sans-serif;
}

#main-frame {
    display: grid;
    grid-template-columns: 2fr 5fr;
    height: 100vh;
}

#menu-panel {
    background-color: #1d826f;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding: 0 1rem;
}

.menu-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.game-controls {
    display: flex;
    flex-direction: column;
    gap: 32px;
}


.control-item {
    font-family: "Varela Round", sans-serif;
    font-size: 14pt;
    text-align: center;
    border-radius: 15px;
    background-color: #821d30;
    color: #F5F5F5;
    padding: 24px 80px;
    border: solid 2px #fdb73e;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
}

.btn-dwn {
    /* box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.5); */
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
}

.players-section {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    gap: .5rem;
    text-shadow:
        1px 0px 0 #211d1e,
        0px -1px 0 #211d1e,
        -1px 0px 0 #211d1e,
        0px 1px #211d1e;
}

.players-section p {
    color: #211d1e;
    margin: 0;
    font-size: 16pt;
    text-shadow: none;
    /* padding: 0 1rem; */
}

.player {
    font-size: 30pt;
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
    margin-bottom: 1rem;
    color: #F5F5F5;
}

.player-name {
    font-family: "Slabo 27px", serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.my-turn {
    font-size: 36pt;
    font-weight: bold;
}

#player1 {
    /* color: #821d30; */
    text-shadow:
        -2px 2px 0 #821d30,
        -3px 3px #211d1e;
}

#player2 {
    /* color: #41639b; */
    text-shadow: 
        -2px 2px 0 #41639b,
        -3px 3px #211d1e;
}

.player-score {
    text-align: right;
}

#footer {
    font-size: 10pt;
    text-align: center;
    color: #F5F5F5;
    padding: .25rem;
    margin-top: 13.333px;
}

#game-panel {
    background-color: #F5F5F5;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* position: relative; */
}

#name-entry-window {
    /* position: absolute; */
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    min-height: 300px;
    min-width: 600px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 2rem;
    background-color: #F5F5F5;
    border: #821d30 8px solid;
    border-radius: 10px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}

#name-entry-window input {
    font-size: 16pt;
    padding: .5rem 1rem;
    margin-bottom: 24px;
    margin-top: 4px;
}

#game-board {
    display: grid;
    grid-template-columns: repeat(3, 180px);
    grid-template-rows: repeat(3, 180px);
    gap: 1rem;
    background-color: #211d1e;
    margin: 2rem;
    box-sizing: border-box;
}

.marker-space {
    background-color: #F5F5F5;
    font-family: "Varela Round", sans-serif;
    font-size: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.x-marker::after {
    content: "X";
}

.x-marker {
    color: #821d30;
}

.o-marker::after {
    content: "O";
}

.turn-msg {
    color: #821d30;
    font-size: 22pt;
}

.o-marker {
    color: #41639b;
}

.blue {
    color: #41639b;   
}

.red {
    color: #821d30;
}



.popup-container {
    position: fixed;
    
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #F5F5F540;
    backdrop-filter: blur(2px);
    /* z-index: 9999; */
}

.popup-btns {
    display: flex;
    justify-content: space-around;
}

.popup-btns .control-item {
    /* padding: 12px; */
}

.hidden-element {
    display: none;
}